APScheduler
Django
django-phonenumber-field
google-auth
google-auth-oauthlib
gspread
gunicorn
msal
numpy
openpyxl
pandas
phonenumbers
Pillow
psycopg2-binary
PyJWT
python-dateutil
python-dotenv
pytz
PyYAML
qrcode
reportlab
requests
requests-oauthlib
sqlparse
tzdata
tzlocal
weasyprint
xhtml2pdf
XlsxWriter